# EditorConfig ajuda a manter estilos de codificação consistentes entre diferentes editores e IDEs
root = true

[*]
charset = utf-8                # Define a codificação do arquivo como UTF-8
indent_style = space           # Usa espaços para indentação
indent_size = 2                # Tamanho da indentação: 2 espaços
end_of_line = lf               # Quebra de linha no estilo Unix (LF)
insert_final_newline = true    # Adiciona uma nova linha ao final de cada arquivo
trim_trailing_whitespace = true # Remove espaços em branco no final das linhas

[*.md]
trim_trailing_whitespace = false # Não remove espaços em branco em arquivos Markdown
